.mokume img{
    position:relative;
    width: 100%;
}
.bangou1 img{
    position:absolute;
    z-index:1;
    width: 2.5%;
    top: 3%;
}
.bangou2 img{
    position:absolute;
    width: 2.5%;
    top: 10%;
}
.bangou3 img{
    position:absolute;
    width: 2.5%;
    top: 17%;
}
.bangou4 img{
    position:absolute;
    width: 2.5%;
    top: 24%;
}
.bangou5 img{
    position:absolute;
    width: 2.5%;
    top: 31%;
}
.bangou6 img{
    position:absolute;
    width: 2.5%;
    top: 38%;
}
.bangou7 img{
    position:absolute;
    width: 2.5%;
    top: 45%;
}
.bangou8 img{
    position:absolute;
    width: 2.5%;
    top: 52%;
}
.bangou9 img{
    position:absolute;
    width: 2.5%;
    top: 59%;
}
.bangou10 img{
    position:absolute;
    width: 2.5%;
    top: 66%;
}
.bangou11 img{
    position:absolute;
    width: 2.5%;
    top: 73%;
}
.bangou12 img{
    position:absolute;
    width: 2.5%;
    top: 80%;
}
.bangou13 img{
    position:absolute;
    width: 2.5%;
    top: 87%;
}
.hashira1 img{
    position:absolute;
    z-index:1;
    width: 3%;
    top: 1%;
    left:5%;
}
.hashira2 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 8%;
    left:10%;
}
.hashira3 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 15%;
    left:15%;
}
.hashira4 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 22%;
    left:20%;
}
.hashira5 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 29%;
    left:25%;
}
.hashira6 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 36%;
    left:30%;
}
.hashira7 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 43%;
    left:35%;
}
.hashira8 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 50%;
    left:40%;
}
.hashira9 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 57%;
    left:45%;
}
.hashira10 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 64%;
    left:50%;
}
.hashira11 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 71%;
    left:55%;
}
.hashira12 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 78%;
    left:60%;
}
.hashira13 img{
    z-index:1;
    position:absolute;
    width: 3%;
    top: 85%;
    left:65%;
}
.str1{
    position:absolute;
    z-index:2;
    top: 4.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str2{
    z-index:2;
    position:absolute;
    top: 11.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str3{
    z-index:2;
    position:absolute;
    top: 18.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str4{
    z-index:2;
    position:absolute;
    top: 25.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str5{
    z-index:2;
    position:absolute;
    top: 32.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str6{
    z-index:2;
    position:absolute;
    top: 39.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str7{
    z-index:2;
    position:absolute;
    top: 46.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str8{
    z-index:2;
    position:absolute;
    top: 53.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str9{
    z-index:2;
    position:absolute;
    top: 60.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str10{
    z-index:2;
    position:absolute;
    top: 67.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str11{
    z-index:2;
    position:absolute;
    top: 74.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str12{
    z-index:2;
    position:absolute;
    top: 81.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
.str13{
    z-index:2;
    position:absolute;
    top: 88.5%;
    left: 3%;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 96.5%;
}
