body{
    background-image: url("木目.jpeg");
    background-size: cover;
}
div {
    padding: 0px;
    font-size: 0px;
}
.bangou01 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 25px;
}

.bangou02 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 107px;
}
.bangou03 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 189px;
}
.bangou04 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 271px;
}
.bangou05 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 353px;
}
.bangou06 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 435px;
}
.bangou07 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 517px;
}
.bangou08 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 599px;
}
.bangou09 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 681px;
}
.bangou10 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 763px;
}
.bangou11 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 845px;
}
.bangou12 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 927px;
}
.bangou13 {
    position: absolute;
    z-index: 2; /* 2番目 */
    top: 1009px;
}


.hashira01 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -25px;
    left: 100px;
}
.hashira02 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -55px;
    left: 200px;
}
.hashira03 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -85px;
    left: 300px;
}
.hashira04 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -115px;
    left: 400px;
}
.hashira05 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -145px;
    left: 500px;
}
.hashira06 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -175px;
    left: 600px;
}
.hashira07 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -205px;
    left: 700px;
}
.hashira08 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -235px;
    left: 800px;
}
.hashira09 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -265px;
    left: 900px;
}
.hashira10 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -295px;
    left: 1000px;
}
.hashira11 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -325px;
    left: 1100px;
}
.hashira12 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -355px;
    left: 1200px;
}
.hashira13 {
    position: relative;
    z-index: 2; /* ２番目 */
    top: -385px;
    left: 1300px;
}

.str01 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -78px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str02 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -108px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str03 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -138px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str04 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -168px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str05 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -198px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str06 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -228px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str07 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -258px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str08 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -288px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str09 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -318px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str10 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -348px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str11 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -378px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str12 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -408px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
.str13 {
    position: relative;
    z-index: 3; /* 3番目 */
    top: -438px;
    left: 60px;
    height: 20px;
    border: solid 3px #555555;
    background-color: white;
    width: 100%;
}
    
}
